/GlobData.class
/NativeRegExp.class
/NativeRegExpCtor.class
/REBackTrackData.class
/REGlobalData.class
/REProgState.class
/RegExpImpl.class
/SubString.class
/CompilerState.class
/RECharSet.class
/RECompiled.class
/RENode.class
